/* Estilos personalizados para complementar Bootstrap */
:root {
    --color-dorado: #d4af37;
}

/* Logo tipográfico */
.navbar-brand {
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.navbar{
    background-color: #000080;
}
/*revisar esto mañana*/
.navbar a:hover{
    transition: 2s ease;
    transform: rotateX(360deg);
}


header .btn:hover{
    color: #FFD32C;
    background-color: #000080;
}

form .btn:hover{
    color: #FFD32C;
    background-color: #000080;
}

.logo-orieta {
    color: var(--color-dorado) !important;
    font-weight: bold;
}

/* Hero Section (Pantalla dividida) */
.hero-section {
    min-height: 80vh;
}

.hero-img {
    background-image: url('../imagenes/Abogada_Sabrina.jpeg');
    background-size: cover;
    background-position: center;
    border-bottom: 20px solid #212529;
    /* Borde oscuro conectando con el menú */
    min-height: 400px;
    /* Para móviles */
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

/* Botón personalizado dorado */
.btn-dorado {
    font-weight: bold;
    border: none;
    padding: 12px 30px;
    transition: all 0.3s ease;
}
/* Iconos de servicios */
.icono-servicio {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.card{

    transition: border-color 0.3s ease, box-shadow 0.3 ease;

}

.card:hover{

    border-color: #ffc107 !important;
    box-shadow: 0 0 15px rgba(255, 193, 7, 0.4) !important;

}

#facebook:hover{
    color: #1877F2;
}